<!DOCTYPE html>
<html>
  <head>
    <title>FEWS | SDA PUPR</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
      body,
      html {
        height: 100%;
        margin: 0;
      }
      #map {
        height: 100%;
        width: 100%;
      }
    </style>
  </head>
  <body class="bg-zinc-900 flex flex-col">
    <div
      class="bg-gray-800 text-sm text-black flex-none flex items-center justify-between w-full px-4"
    >
      <form
        id="uploadForm"
        class="rounded-lg"
        method="post"
        enctype="multipart/form-data"
      >
        {% csrf_token %}
        <div class="flex items-center py-4">
          <div class="text-white">{{ form.file }}</div>
          <button
            type="submit"
            class="bg-black text-white font-bold py-2 px-4 rounded ml-4"
          >
            Upload
          </button>
        </div>
      </form>
      <div
        id="downloadSection"
        class="flex items-center py-4"
        style="display: none"
      >
        <input type="checkbox" id="downloadCheckbox" class="mr-2" />
        <label id="filenameLabel" class="text-white mr-4"></label>
        <a
          id="downloadLink"
          download
          class="bg-black text-white font-bold py-2 px-4 rounded ml-4 cursor-not-allowed"
          style="pointer-events: none"
          >Download</a
        >
      </div>
    </div>
    <div id="map" class="flex-grow"></div>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const map = L.map("map").setView([-2.4833826, 117.8902853], 5);

        L.tileLayer(
          "https://server.arcgisonline.com/ArcGIS/rest/services/Canvas/World_Dark_Gray_Base/MapServer/tile/{z}/{y}/{x}",
          {
            attribution:
              '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors | ' +
              'Tiles &copy; <a href="https://www.arcgis.com/home/item.html?id=59e909b4e0b04c4a81e05f0f3cbb9360">ArcGIS</a> | ' +
              "GeoServer",
          }
        ).addTo(map);

        function fetchDataFromWFS(url) {
          axios
            .get(url)
            .then((response) => {
              L.geoJSON(response.data, {
                onEachFeature: function (feature, layer) {
                  if (feature.properties && feature.properties.Provinsi) {
                    layer.bindPopup(feature.properties.Provinsi);
                  }
                },
              }).addTo(map);
            })
            .catch((error) => {
              console.error("Error fetching WFS data:", error);
            });
        }

        function addWMSLayerToMap(layerName) {
          const wmsUrl = "http://127.0.0.1:8080/geoserver/gsdb_simadu/wms";
          const wmsLayer = L.tileLayer.wms(wmsUrl, {
            layers: `gsdb_simadu:${layerName}`,
            format: "image/png",
            transparent: true,
            styles: "gsdb_simadu:curah_hujan_id",
          });

          wmsLayer.addTo(map);
          wmsLayer.on("tileerror", function (error, tile) {
            console.error("Error loading WMS tile:", error, tile);
          });

          map.on("click", function (e) {
            const urlGetMapWMS = `${wmsUrl}?service=WMS
                  &version=1.1.1
                  &request=GetFeatureInfo
                  &layers=gsdb_simadu:${layerName}
                  &query_layers=gsdb_simadu:${layerName}
                  &info_format=application/json
                  &SRS=EPSG:4326
                  &bbox=${map.getBounds().toBBoxString()}
                  &width=${map.getSize().x}
                  &height=${map.getSize().y}
                  &x=${map.latLngToContainerPoint(e.latlng).x}
                  &y=${map.latLngToContainerPoint(e.latlng).y}`;

            axios
              .get(urlGetMapWMS)
              .then(function (response) {
                const jsonresponse = response.data;
                const rainFallIndex =
                  jsonresponse.features[0].properties.GRAY_INDEX;
                const rainFallIndexFixed = rainFallIndex.toFixed(3);

                L.popup()
                  .setLatLng(e.latlng)
                  .setContent(
                    "Index curah hujan: " + rainFallIndexFixed + " mm"
                  )
                  .openOn(map);
              })
              .catch(function (error) {
                console.error("Error fetching WMS data:", error);
              });
          });
        }

        function getUrlFromUploadedData(uploadedData) {
          const wfsUrl = uploadedData.urls.wfs;
          const wmsUrl = uploadedData.urls.wms_style;
          const layerName = uploadedData.layerName;
          fetchDataFromWFS(wfsUrl);
          addWMSLayerToMap(layerName);
        }

        document
          .getElementById("uploadForm")
          .addEventListener("submit", function (e) {
            e.preventDefault();
            const formData = new FormData(this);

            axios
              .post("{% url 'upload_file' %}", formData)
              .then((response) => {
                const data = response.data;
                if (data.status === "success") {
                  let downloadLink = "";
                  data.geoserver_urls.forEach((item) => {
                    getUrlFromUploadedData(item);
                    // Determine the download link based on file type
                    if (item.file_type === "shp") {
                      downloadLink = item.urls.data_vektor;
                    } else if (item.file_type === "geotiff") {
                      downloadLink = item.urls.data_raster;
                    }
                  });
                  // Display the filename and enable the download section
                  document.getElementById("filenameLabel").textContent =
                    formData.get("file").name;
                  const downloadLinkElement =
                    document.getElementById("downloadLink");
                  downloadLinkElement.href = downloadLink;
                  document.getElementById("downloadSection").style.display =
                    "flex";
                } else {
                  console.error("Upload failed");
                }
              })
              .catch((error) => {
                console.error("Error during file upload:", error);
              });
          });

        document
          .getElementById("downloadCheckbox")
          .addEventListener("change", function () {
            const downloadLink = document.getElementById("downloadLink");
            if (this.checked) {
              downloadLink.style.pointerEvents = "auto";
              downloadLink.classList.remove("cursor-not-allowed");
              downloadLink.classList.add("bg-blue-500");
              downloadLink.classList.remove("bg-black");
            } else {
              downloadLink.style.pointerEvents = "none";
              downloadLink.classList.add("cursor-not-allowed");
              downloadLink.classList.add("bg-black");
              downloadLink.classList.remove("bg-blue-500");
            }
          });
      });
    </script>
  </body>
</html>
