<!DOCTYPE html>
<html>
  <head>
    <title>FEWS | SDA PUPR</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
      body,
      html {
        height: 100%;
        margin: 0;
      }
      #map {
        height: 100%;
        width: 100%;
      }
    </style>
  </head>
  <body class="bg-zinc-900 flex flex-col">
    <div
      class="bg-gray-800 text-sm text-black flex-none flex items-center justify-between w-full px-4"
    >
      <form
        id="uploadForm"
        class="rounded-lg"
        method="post"
        enctype="multipart/form-data"
      >
        {% csrf_token %}
        <div class="flex items-center py-4">
          <div class="text-white">{{ form.file }}</div>
          <button
            type="submit"
            class="bg-black text-white font-bold py-2 px-4 rounded ml-4"
          >
            Upload
          </button>
        </div>
      </form>
      <div
        id="downloadSection"
        class="flex items-center py-4"
        style="display: none"
      >
        <input type="checkbox" id="downloadCheckbox" class="mr-2" />
        <label id="filenameLabel" class="text-white mr-4"></label>
        <a
          id="downloadLink"
          download
          class="bg-black text-white font-bold py-2 px-4 rounded ml-4 cursor-not-allowed"
          style="pointer-events: none"
          >Download</a
        >
      </div>
    </div>
    <div id="map" class="flex-grow"></div>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const map = initializeMap();

        document
          .getElementById("uploadForm")
          .addEventListener("submit", handleFileUpload);
        document
          .getElementById("downloadCheckbox")
          .addEventListener("change", toggleDownloadLink);

        function initializeMap() {
          const map = L.map("map").setView([-2.4833826, 117.8902853], 5);
          L.tileLayer(
            "https://server.arcgisonline.com/ArcGIS/rest/services/Canvas/World_Dark_Gray_Base/MapServer/tile/{z}/{y}/{x}",
            {
              attribution:
                '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors | ' +
                'Tiles &copy; <a href="https://www.arcgis.com/home/item.html?id=59e909b4e0b04c4a81e05f0f3cbb9360">ArcGIS</a> | ' +
                "GeoServer",
            }
          ).addTo(map);
          return map;
        }

        function handleFileUpload(event) {
          event.preventDefault();
          const formData = new FormData(this);

          axios
            .post("{% url 'upload_file' %}", formData)
            .then((response) => {
              const data = response.data;
              if (data.status === "success") {
                processUploadedData(data);
                showDownloadSection(
                  formData.get("file").name,
                  data.geoserver_urls
                );
              } else {
                console.error("Upload failed");
              }
            })
            .catch((error) => {
              console.error("Error during file upload:", error);
            });
        }

        function processUploadedData(data) {
          data.geoserver_urls.forEach((item) => {
            fetchDataFromWFS(item.urls.wfs);
            addWMSLayerToMap(item.layerName);
          });
        }

        function fetchDataFromWFS(url) {
          axios
            .get(url)
            .then((response) => {
              L.geoJSON(response.data, {
                onEachFeature: function (feature, layer) {
                  if (feature.properties && feature.properties.Provinsi) {
                    layer.bindPopup(feature.properties.Provinsi);
                  }
                },
              }).addTo(map);
            })
            .catch((error) => {
              console.error("Error fetching WFS data:", error);
            });
        }

        function addWMSLayerToMap(layerName) {
          const wmsUrl = "http://127.0.0.1:8080/geoserver/gsdb_simadu/wms";
          const wmsLayer = L.tileLayer.wms(wmsUrl, {
            layers: `gsdb_simadu:${layerName}`,
            format: "image/png",
            transparent: true,
            styles: "gsdb_simadu:curah_hujan_id",
          });

          wmsLayer.addTo(map);
          wmsLayer.on("tileerror", function (error, tile) {
            console.error("Error loading WMS tile:", error, tile);
          });

          map.on("click", function (e) {
            fetchWMSData(e, wmsUrl, layerName);
          });
        }

        function fetchWMSData(event, wmsUrl, layerName) {
          const urlGetMapWMS = `${wmsUrl}?service=WMS&version=1.1.1&request=GetFeatureInfo&layers=gsdb_simadu:${layerName}&query_layers=gsdb_simadu:${layerName}&info_format=application/json&SRS=EPSG:4326&bbox=${map
            .getBounds()
            .toBBoxString()}&width=${map.getSize().x}&height=${
            map.getSize().y
          }&x=${map.latLngToContainerPoint(event.latlng).x}&y=${
            map.latLngToContainerPoint(event.latlng).y
          }`;

          axios
            .get(urlGetMapWMS)
            .then((response) => {
              const rainFallIndex =
                response.data.features[0].properties.GRAY_INDEX.toFixed(3);
              L.popup()
                .setLatLng(event.latlng)
                .setContent("Index curah hujan: " + rainFallIndex + " mm")
                .openOn(map);
            })
            .catch((error) => {
              console.error("Error fetching WMS data:", error);
            });
        }

        function showDownloadSection(filename, geoserverUrls) {
          const downloadLinkElement = document.getElementById("downloadLink");
          document.getElementById("filenameLabel").textContent = filename;
          document.getElementById("downloadSection").style.display = "flex";

          geoserverUrls.forEach((item) => {
            if (item.file_type === "shp") {
              downloadLinkElement.href = item.urls.data_vektor;
            } else if (item.file_type === "geotiff") {
              downloadLinkElement.href = item.urls.data_raster;
            }
          });
        }

        function toggleDownloadLink() {
          const downloadLink = document.getElementById("downloadLink");
          if (this.checked) {
            enableDownloadLink(downloadLink);
          } else {
            disableDownloadLink(downloadLink);
          }
        }

        function enableDownloadLink(downloadLink) {
          downloadLink.style.pointerEvents = "auto";
          downloadLink.classList.remove("cursor-not-allowed", "bg-black");
          downloadLink.classList.add("bg-blue-500");
        }

        function disableDownloadLink(downloadLink) {
          downloadLink.style.pointerEvents = "none";
          downloadLink.classList.add("cursor-not-allowed", "bg-black");
          downloadLink.classList.remove("bg-blue-500");
        }
      });
    </script>
  </body>
</html>
